* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* nav bar styles start */
.navbar-wrapper {
    background-color: rgb(87, 163, 138);
}

.navbar-main {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
    padding: 20px;
}

.nav-menu-btn {
    background-color: black;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}






/* nav bar styles ends */